body {
  padding: 0;
  margin: 0;
  background: #525152;
}

.center {
  text-align: center;
}

/*--- navigation bar ---*/

.navbar {
  background:#525152;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}

.navbar-logo {
	height: 50px;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

.header {
  background-image: url('../images/bg_posters.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.img {
	width: 100%;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
}

.description {
  background:rgba(82, 81, 82, 0.7); 
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #f63d23;
}
.description p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2;
}


input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=file] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
               /* url('http://i.stack.imgur.com/FhHRx.gif') */
                url('https://media.giphy.com/media/RIXdTsMlXCV8KuzRaq/giphy.gif')
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}